body{
  overflow: hidden;
}

#react-content{
  width: 100%;
  height: 100%;
  font-family: '微软雅黑';
}

#container{
  position: relative;
  width: 100%;
  height: 100%;
}

#loginpanel{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 1s ease;

}

#loginform{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.animatediv{
  transition: all 0.3s ease;
}

#login_bk{
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right: 0;
  background-image: url('./img/pic.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 2s linear;
  z-index: -1;
}

#login_logo{
  margin-top: 5%;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-image: url('./img/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px rgba(255,255,255,.6), inset 0 0 5px rgba(255,255,255,1);
}

#login_title{
  font-family: "微软雅黑";
  font-size: 32px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #447084;
}

#login_btnlogin{
  width: 495px;
  margin-top: 50px;
  height: 50px;
  font-size: 22px;
  transition: none;
}

#mainpanel{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -2;
}

#footbar{
  padding: 0 20px;
  width:100%;
  height: 40px;
  background-color: rgb(44,61,80);
  color: white;
}

#titlebar{
  padding: 0 20px;
  height: 100%;
  background-color: white;
  color: rgb(120,121,121);
}

#content{
  height: 100%;
}

#title_systemname{
  color: rgb(101,126,160);
  font-size: 22px;
}

#title_username{
  margin-left: -35px;
  font-size: 18px;
}

#navbar{
    height: 36px;
    margin-left: 20px;
}

#devicelist{
  position: absolute;
  bottom:  0px;
  width: 400px;
  height: 100%;
  background-color: rgb(222,222,222);
  padding: 7px 0;
  z-index: 2;
}

#devicelist_big{
  position: absolute;
  bottom:  0px;
  width: 75%;
  height: 100%;
  background-color: rgb(222,222,222);
  padding: 7px 0;

  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap:wrap;

  z-index: 2;
}

.deviceline{
  width: 100%;
  height: 1px;
  background-color: rgb(224,226,230);
}

#devicecount_big,
#devicecount{
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  color: rgb(174,174,174);
  font-size: 13px;
  background-color: white;
  padding: 0px 20px;
  width: 100%;
}

#deviceinfo{
  position: absolute;
  bottom:  0px;
  width: 400px;
  height: 100%;
  background-color: rgb(222,222,222);
  padding: 7px 0;
}

#mapcontainer{
  position: absolute;
  top: 0px;
  bottom:  0px;
  right: 5px;
  left:400px;
  background-color: #E4E2E2;
  padding: 0px 0px;
}

#mapiframe{
  width: 100%;
  height: 100%;
}

.deviceblock{
  width: 100%;
  height: 106px;
  background-color: white;
}

.deviceblock:hover{
  cursor: pointer;
  background-color: #446180;
}

.deviceblock_big{
  width: 400px;
  height: 200px;
  background-color: white;
  margin: 15px 15px;

  flex-grow:1;
}

.deviceblock_big:hover{
  cursor: pointer;
  background-color: #446180;
}

.devicedetailblock{
  width: 300px;
  height: 200px;
  background-color: white;
  margin: 10px auto 80px auto;
  left:0;
  right: 0;
}

.devicedetailblock:hover{
  cursor: pointer;
  background-color: #446180;
}

.devicebtnblock{
  width: 300px;
  height: 20px;
  background-color: white;
  margin: 10px auto;
  left:0;
  right: 0;
}
.devicebtnblock:hover{
  cursor: pointer;
  background-color: #446180;
}

#detailreturn{
  height: 30px;
  width: 100%;
  background-color: white;
}

#navbar p{
  font-size: 14px;
  margin-top: 10px;
  padding: 0 20px;
}

#onlinenumber{
  color:#446180;
}

#offlinenumber{
  color:red;
}

#btnsetting{

}

#btnlogout{
  position: absolute;
  right: 5px;
  top:10px;
  right: 20px;
  top: 24px;
}

#btnlogout:hover{
  cursor: pointer;
}

#btnexpand{
  position: absolute;
  border-radius: 0px;
  top: 7px;
  padding: 5px;
  width: 34px;
  left: 400px;
  z-index: 2;
}

#btnshrink{
  position: absolute;
  border-radius: 0px;
  top: 7px;
  padding: 5px;
  width: 34px;
  left: 100%;
  z-index: 2;
}

#btnrollback{
  position: absolute;
  border-radius: 0px;
  padding: 5px;
  height: 30px;
  background-color: white;
  border: none;
}
